/* 
    Exercise #1 - Style Navbar 
*/

* {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #f5f5f5;
  border-bottom: solid 1px #c5c5c5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row;
  margin: auto 24px;
  gap: 32px;
  list-style-type: none;
}

.link > a {
  font-size: 18px;
  text-decoration: none;
  text-decoration-color: unset;
}

.header {
  margin: auto 24px;
}

.title {
  margin: 0;
  font-size: 32px;
}

/* 
    Exercise #2 - Specificity 
*/

#hero {
  background-color: #a7c3cf;
}

#title {
  font-size: 32px;
}

section > .hero-button {
  border-radius: 12px;
  width: 100px;
  background-color: #253f6e;
  color: white;
}
